<% tpl_form_for :user, @user, :url => update_password_profile_path(current_user), :html => {:method => :put} do |f| %>
  <% f.fieldset "Change my password" do %>
  
  <h4>Your current password</h4>
	<p>To prevent abuse, please enter your current password.</p>

	<p><%= password_field_tag 'current_password', '', :size => 20 %></p>

  <br/>
  
	<h4>Your new password</h4>
	<p>Please enter your new password (and confirm it) below.</p>

	<p><%= password_field_tag 'new_password', '', :size => 20 %></p>
	<p><%= password_field_tag 'new_password_confirmation', '', :size => 20 %></p>

  <% end -%>
  <%= submit_tag "Change my password" %>
<% end -%>