<% title "Password Recovery" %>

  <% unless @user.nil? || !@user.active? %>
    <p>
      You have successfully reset your password. You will receive an email with your new password shortly.
    </p>
    <p>
      <strong>Note: After you login, please change your password to a more secure and easier to remember password.</strong>
    </p>
    <div class="links" style="text-align: right;">
    	<%= link_to "Login now &raquo;", login_url %>
    </div>
  <% else %>
  	<p>
      We're sorry, but we couldn't reset your password for you. 
  	</p>
  	<p>
  	  Possible reasons:
  	  <ul class="reasons">
  	      <li>the period to reset the password has expired.</li> 
  	      <li>the reset activation code was wrong.</li>
  	      <li>you accidentally reload the page again so you already have reset your password.</li>
  	  </ul>
    </p>
  	<p>
  		To obtain a new password, please contact <%= support_mail_link :encode => 'javascript', :subject => 'Reset password' %>
  	</p>
  	<div class="links" style="text-align: left;">
    	<%= link_to("&laquo; Back", login_path)%>
    </div>
  <% end %>