<div class="calendar_help_window" id="calendar_help_window">
	<div class="calendar_help_window_content">
	  <table class="calendar_help">
      <tr>
        <td class="title">Calendar help</td>
        <td class="close">
          <a href="#" class="close_calendar_help">X</a>
        </td>
      </tr>
      <tr>
          <td colspan="2">HELP</td>
      </tr>
	</div>
</div>