		<!-- CONTAINER FOR PRELOADING IMAGES (CSS) -->
		<div id="preloaded_images"></div>

		<!-- JAVASCRIPT INITIALIZATION: -->
		<script type="text/javascript">
		//<![CDATA[

		//]]>
		</script>
	</body>
</html>