<div class="footer">
	<div class="links">Application name v.0.1 build 1, 21/05/2008 <strong>by</strong> <a href="http://www.selfnet.eu" title="Developed by SelfNET" target="_blank">SelfNET</a></div>
	<div class="links">Design Inspired by <a href="http://www.basecamphq.com" title="Basecamp by 37 signals" target="_blank">Basecamp</a></div>
</div>