<table class="form_table">
  <tr>
      <td class="divider" style="width: 47%;">
        <%= ajax_block('employee_salary', {:load_type => nil, :css_class => 'employee_load_cost'}) %>
      </td>
      <td>&nbsp;</td>
      <td class="divider" style="width: 53%;">
        <%= ajax_block('employee_salaries', {:load_type => nil, :css_class => 'employee_load_cost'}) %>
      </td>
  </tr>
</table>