<div class="app_modaldialog <%= css_class %>" id="<%= id %>">
	<div class="app_modaldialogwindow">
		<div class="app_modaldialogwindowtitle clearfix">
			<h1>&nbsp;</h1>
			<a href="#" class="modaldialogwindowclose jqmClose"><em>Close</em></a>
		</div>
		<div class="app_modaldialogwindowcontent">
			<pre class="app_modaldialogwindowcontentmsg"></pre>
		</div>
		<div class="app_modaldialogwindowcontrols" id="<%= id %>_controls">
			<input type="submit" name="ok" value="OK" class="modal_ok_btn" />&nbsp;
			<input type="submit" name="yes" value="Yes" class="modal_confirm_btn modal_confirm_ok_btn" />&nbsp;
			<input type="submit" name="no" value="No" class="modal_confirm_btn modal_confirm_no_btn" />&nbsp;
			<input type="submit" name="cancel" value="Cancel" class="modal_cancel_btn" />
		</div>
	</div>
</div>